<div *ngIf="showHeader" class="row top-bar chat-container">
    <h1 class="style-hello">Hello {{userName}},
        {{greeting}}</h1>
    <h1>How can I help
        you?</h1>
</div>
<div class="response-container messages" #messageContainer>
    <ng-container *ngFor="let message of messages">
        <div 
          class="message" 
          [ngClass]="{ 'from': message.author === 'bot', 'to': message.author === 'user' }"
          [innerHTML]="message.content">
        </div>
      </ng-container>
</div>

  
<!-- <label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Your message</label> -->
<!-- <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
    
    <p><span [(ngModel)]="value" (keyup.enter)="sendMessage()" class="customTextArea" role="textbox" contenteditable></span></p> -->

<!-- <textarea placeholder="Please type your Query and press enter key" resizable="auto" [(ngModel)]="value" (keyup.enter)="sendMessage()">
    </textarea> -->

<div class="container">
    <button (click)="sendMessage()">Send</button>
    <textarea id="textarea" placeholder="Please type your Query" resizable="auto" [(ngModel)]="value"
        (keyup.enter)="sendMessage()">
    </textarea>
</div>

<div class="total-messages">
    <!-- Show total messages when there are messages -->
<ng-container *ngIf="messages.length > 0">
    Total messages: <span class="count">{{ messages.length }}</span>
</ng-container>
</div>


